* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: aliceblue;
  overflow-x: hidden;
  font-family: "Hind Siliguri", sans-serif;
}
header{
  position: sticky;
  top: 0;
}
header nav {
  background: linear-gradient(to right, blue, rgb(38, 38, 73));
}
header nav ul li a {
  text-decoration: none;
  list-style: none;
  color: white;
  padding: 0 1rem;
}
header nav ul li {
  text-decoration: none;
  list-style: none;
}
header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}
html{
    scroll-behavior: smooth;
}
section{
    max-width: 800px;
    padding: 5px;
    margin: 0 auto;
}
pre{
    justify-content: center;
}
.important-topic li{
    background-color: white;
    padding: 8px;
    margin: 5px;
    list-style: none;
}
.hero-section{
    background-color: white;
    padding: 8px;
    margin: 5px;
    border-radius: 10px;
}
.images-hero{
    width: 300px;
    height: auto;
    margin: 0 auto;
}
h1{
    text-align: center;
    color: white;
    border-radius: 14px;
    padding: 8px;
    margin: 5px;
    background: linear-gradient(to right, blue, rgb(38, 38, 73));
}
footer{
    background: linear-gradient(to right, blue, rgb(38, 38, 73));
    padding: 1rem;
    text-align: center;
    color: white;
}
/* information */
.info-shuvo{
  background-color: white;
  padding: 8px;
  margin: 0 auto;
  border-radius: 10px;
  width: 400px;
  margin-top: 15px;
}